<!doctype html>
<html>
  <head>
  <!-- http://flask.pocoo.org/docs/0.12/patterns/templateinheritance/ -->
    {% extends "base.html" %}
    {% block title %}Application Form{% endblock %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="container">
      <!-- include link to application form -->
        <h1>Decorate home page.</h1>
        <!-- https://stackoverflow.com/questions/27539309/how-do-i-create-a-link-to-another-html-page -->
        <a href="{{ url_for('display_application_form') }}">Application Form</a>
      </div>
    {% endblock %}
  </body>
</html>